#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding-left: 15px;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: lightsalmon;
    color: black;
    padding-left: 15px;
}

#menu a:visited {
    color: navy;
}

#menu a:hover {
    background-color: fuchsia;
    color: white;
}

#barraLateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: gold;
    color: black;
    padding-left: 15px;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: plum;
    color: black;
    padding-left: 15px;
    overflow: auto;
}

#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: aquamarine;
    color: black;
    padding-left: 15px;
    text-align: center;
}

#piePagina address {
    display: inline;
}

#encabezadotabla {
    font-size: 20px;
    background-color: darkblue;
    color: gold;
}

#tablaResumen tr:nth-child(odd) {
    background-color: white;
    color: darkblue;
}

#tablaResumen tr:nth-child(even) {
    background-color: darkblue;
    color: white;
}

#tablaResumen tr{
    font-size: 25px;
    font-weight: bolder;
}