<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/platilla :: header" />
        <div class="contenido">
            <h2>Categorías</h2><br/><br/>
            <a th:href="@{/categoria/nuevo}">Nueva categoria</a><br/><br/>
            <div th:if="${categorias != null and !categorias.empty}">
                <table border = "1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Activa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${categorias}">
                            <td th:text="${item.descripcion}"></td>
                            <td><input type="checkbox" name="activa" th:checked="${item.activo}" disable="true"></td>
                            <td><a th:href="@{/categoria/eliminar/} + ${item.idCategoria}">Eliminar</a></td>
                            <td><a th:href="@{/categoria/modificar/} + ${item.idCategoria}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${clientes == null or clientes.empty}"><br/><br/>
                Estas son todas nuestras categorías...
            </div> 
            <footer th:replace="layout/platilla :: footer" />
    </body>
</html>
